<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Real Time Systems Project</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/venobox/venobox.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a href="{{ url_for('index') }}">Home</a></li>
          <li class="menu-active"><a href="{{ url_for('events') }}">My Events</a></li>
           <li><a href="{{ url_for('all_events') }}">All Events</a></li>
                        <li><a href="{{ url_for('user_calendar') }}">Calendar</a></li>

            <li><a href="{{ url_for('profile') }}">Profile</a></li>

            <li><a href="{{ url_for('login') }}">Logout</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  

    <!--==========================
      About Section
    ============================-->
    

    <!--==========================
      Speakers Section
    ============================-->
    

    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">


  <main>

    <!-- <ul>
      {% for item in data %}
          <li>{{item.title}}</li>
      {% endfor %}


     </ul> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    function testf(ele){
        var vid = ele.id;
        var cluster_no = ele.value;
        document.getElementById(vid).disabled = true;
        console.log(vid);
        console.log(cluster_no);
        $.ajax({
                  data:{cluster : cluster_no
                  },
                  type: 'POST',
                  url: '/background_process_test'
              })
              .done(function (data) {
                  if (data.error){
                      console.log("Error");
                  }
                  else {
                      console.log(data.status);
                  }
              });
    }
</script>


    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers">
      <div class="container">
        <div class="section-header">
          <h2>Suggested Events</h2>

        </div>
        <div class="pageNav">
        <a class="pageNumber menu-active" id = "p1" href="#page1">1</a>
        <a class="pageNumber" id = "p2" href="#page2">2</a>
        <a class="pageNumber" id = "p3" href="#page3">3</a>
    </div>
    <br>
    <br>
    <br>
<div class="cssPagination">
    <div class="pages">
        <div class="page" id="page3">
          <h3 style="text-align: center;">Page 3</h3>
            <div class="row" align="Center">

          {% for item in data[30:45] %}
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
<button name="{{ item._id }}" id =  "{{ item._id }}" value="{{ item.cluster_number }}" onclick="testf(this)"> Interested</button>
              <img src="https://comm.gatech.edu/sites/default/files/images/brand-graphics/gt-ctn-lockup-logo.png" width="600px" height="550px" alt="Speaker 1" class="img-fluid">
              <div>
<!--                <h3><a href="speaker-details.html">Malav Shah</a></h3>-->
                  <p id="tooltip1"><a>{{item.title}}<span><b>Description:</b> {{item.description}} <br><b>Location:</b> {{item.location}}<br><b>Cluster Number:</b> {{item.cluster_number}}</span></a></p>
                <p></p>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        </div>
        <div class="page" id="page2">
          <h3 style="text-align: center;">Page 2</h3>
            <div class="row" align="Center">
          {% for item in data[15:30] %}
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
<button name="{{ item._id }}" id =  "{{ item._id }}" value="{{ item.cluster_number }}" onclick="testf(this)"> Interested</button>
              <img src="https://comm.gatech.edu/sites/default/files/images/brand-graphics/gt-ctn-lockup-logo.png" width="600px" height="550px" alt="Speaker 1" class="img-fluid">
              <div>
<!--                <h3><a href="speaker-details.html">Malav Shah</a></h3>-->
                  <p id="tooltip1"><a>{{item.title}}<span><b>Description:</b> {{item.description}} <br><b>Location:</b> {{item.location}}<br><b>Cluster Number:</b> {{item.cluster_number}}</span></a></p>
                <p></p>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        </div>
        <div class="page" id="page1">
                      <h3 style="text-align: center;">Page 1</h3>

          <div class="row" align="Center">
          {% for item in data[:15] %}
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
<button name="{{ item._id }}" id =  "{{ item._id }}" value="{{ item.cluster_number }}" onclick="testf(this)"> Interested</button>
              <img src="https://comm.gatech.edu/sites/default/files/images/brand-graphics/gt-ctn-lockup-logo.png" width="600px" height="550px" alt="Speaker 1" class="img-fluid">
              <div>
<!--                <h3><a href="speaker-details.html">Malav Shah</a></h3>-->
                  <p id="tooltip1"><a>{{item.title}}<span><b>Description:</b> {{item.description}} <br><b>Location:</b> {{item.location}}<br><b>Cluster Number:</b> {{item.cluster_number}}</span></a></p>
                <p></p>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        </div>
    </div>
    
</div>
        <!-- <div class="row" align="Center">
          {% for item in data %}
          <div class="col-lg-4 col-md-6">
            <div class="speaker">

              <img src="https://comm.gatech.edu/sites/default/files/images/brand-graphics/gt-ctn-lockup-logo.png" width="600px" height="550px" alt="Speaker 1" class="img-fluid">
              <div>
                <h3><a href="speaker-details.html">Malav Shah</a></h3>
                  <p id="tooltip1"><a>{{item.title}}<span><b>Description:</b> {{item.description}} <br><b>Location:</b> {{item.location}}</span></a></p>
                <p></p>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div> -->

    </section>




    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

      <!-- <div class="container">

        <div class="section-header">
          <h2>Get in Touch</h2>
          <p>Feel free to get in touch with us to know more.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Georgia Institute of Technology<br>Atlanta, GA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+1 1234 567 89</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div>

        </div> -->

        <!-- <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="event_page.html" method="post" role="form" class="contactForm">
            <div class="form-group">
              Email: <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              Password: <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
              <div class="validation"></div>
            </div>
            
            <div class="text-center"><button type="submit">Log Me in!</button></div>
            <br>
            <div class="text-center">Not registered? <a href="signup.html">Sign Up</a> here!</div>
          </form>

        </div>

      </div> -->
    </section><!-- #contact -->


<!-- <section id="venue" class="wow fadeInUp">

      <div class="container-fluid">

        <div class="section-header">
          <h2>Created at</h2>
        </div>

        
<div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=georgia%20Institute%20of%20technology+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Create Google Map</a></iframe></div><br />
          

    </section> -->

    </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="../static/img/logo.png" alt="TheEvenet">
            <p>A CS 6235 project to match students with events that might interest them</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="index.html">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="signup.html">Sign Up</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="login.html">Login</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Georgia Institute of Technology <br>
              Atlanta, GA<br>
              United States <br>
              <strong>Phone:</strong> +1 123 4567 89<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/venobox/venobox.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
</body>

</html>
